1. Data Loading

In [2]:
import pandas as pd

df = pd.read_csv('stock_data.csv')
df

     Unnamed: 0     Stock_1     Stock_2    Stock_3     Stock_4     Stock_5
0    2020-01-01  101.764052  100.160928  99.494642   99.909756  101.761266
1    2020-01-02  102.171269   99.969968  98.682973  100.640755  102.528643
2    2020-01-03  103.171258   99.575237  98.182139  100.574847  101.887811
3    2020-01-04  105.483215   99.308641  97.149381  100.925017  101.490049
4    2020-01-05  107.453175   98.188428  99.575396  101.594411  101.604283
..          ...         ...         ...        ...         ...         ...
360  2020-12-26   92.684784   63.408103  98.288992  117.788079  102.995720
361  2020-12-27   92.688279   62.816639  98.061845  116.605106  102.718260
362  2020-12-28   93.551993   63.597651  96.454800  115.441164  103.566068
363  2020-12-29   93.870037   64.114492  95.747485  113.856107  103.257107
364  2020-12-30   93.855317   64.491011  97.805648  112.640418  102.304226

[365 rows x 6 columns]